<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clinic.provider.mapper.PatientMasterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.clinic.provider.domain.entity.PatientMaster">
        <id column="id" property="id" />
        <result column="patient_id" property="patientId" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="age" property="age" />
        <result column="birth" property="birth" />
        <result column="phone" property="phone" />
        <result column="area_code" property="areaCode" />
        <result column="tel" property="tel" />
        <result column="clinic_type" property="clinicType" />
        <result column="clinic_doctor" property="clinicDoctor" />
        <result column="clinic_date" property="clinicDate" />
        <result column="clinic_tag_id" property="clinicTagId" />
        <result column="remark" property="remark" />
        <result column="identity" property="identity" />
        <result column="addr_province" property="addrProvince" />
        <result column="addr_city" property="addrCity" />
        <result column="addr_county" property="addrCounty" />
        <result column="addr_detailed" property="addrDetailed" />
        <result column="vip_code" property="vipCode"/>
        <result column="last_date" property="lastDate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, patient_id, name, sex, age, birth, phone, area_code, tel, clinic_type, clinic_doctor, clinic_date, clinic_tag_id, remark, identity, addr_province, addr_city, addr_county, addr_detailed,vip_code,last_date
    </sql>

    <select id="getPatientMasterByDto" resultType="com.clinic.provider.domain.entity.PatientMaster">
        select t.<include refid="Base_Column_List"></include>
        from
        patient_master t
        where
        1=1
        and (t.name like '%${input}%' or t.patient_id like '%${input}%' or t.phone like '%${input}%')
        <if test="vipCode != null and vipCode !=''">
            and vip_code = 1
        </if>
        <if test="lastDate != null and lastDate !=''">
            order by last_date
        </if>
        <if test="clinicDate != null and clinicDate !=''">
            order by clinic_date
        </if>

    </select>

</mapper>
