<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clinic.provider.mapper.PriceDictMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.clinic.provider.domain.entity.PriceDict">
        <id column="id" property="id" />
        <result column="item_code" property="itemCode" />
        <result column="item_name" property="itemName" />
        <result column="price" property="price" />
        <result column="unit" property="unit" />
        <result column="input_code" property="inputCode" />
        <result column="class_type" property="classType" />
        <result column="hosp_code" property="hospCode" />
        <result column="class_name" property="className"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, item_code, item_name, price, unit, input_code, class_type, hosp_code, class_name
    </sql>

    <select id="getPriceDictByClassId" resultType="com.clinic.provider.domain.entity.PriceDict">
        select * from price_dict
        where 1=1
        <if test="classId!= null and classId !=''">
            and class_type = #{classId}
        </if>
        <if test="input!= null and input !=''">
            and (input_code like '%${input}%' or item_name like '%${input}%')
        </if>
        and hosp_code = #{hospCode}
    </select>

</mapper>
